/*!
 * Gruntplate
 * - Short description
 * 
 * Author: Ruben Leikarnes
 * github.com/rub1/gruntplate
 */

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$link-color: 	#2e2ef1;
$font-size: 	16;
$default-spacing-unit: 1.5;

/**
 * Imports
 */

@import "_lib/normalize";
@import "_mixins/media-queries";
@import "_base/body";
@import "_base/margin";
@import "_base/typography";
